<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Listado de veterinarios</title>
</head>
<body>
<!--/*@thymesVar id="Veterinario" type="globallogic.juanmurdolo.sfgpetclinic.model.Veterinario"*/-->
<h1 th:text="'Listado de Vetes'">Listado de dueños...</h1>


<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="veterinario : ${veterinarios}">
        <td th:text="${veterinario?.id}">1</td>
        <td th:text="${veterinario?.nombre}">Joe</td>
        <td th:text="${veterinario?.apellido}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>