<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owner')}">
<head>
    <meta charset="UTF-8">
    <title>Listado de dueños</title>
</head>
<body>
<!--/*@thymesVar id="Owner" type="globallogic.juanmurdolo.sfgpetclinic.model.Owner"*/-->
    <h2 th:text="'Listado de Dueños'">Listado de dueños...</h2>

<table id="owners" class="table table-striped">
    <thead>
    <tr>
        <th style="width 150px;">Id</th>
        <th style="width 150px;">Nombre</th>
        <th style="width 150px;">Apellido</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">1</td>
        <td th:text="${owner?.nombre}">Joe</td>
        <td th:text="${owner?.apellido}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>